<div class="container">
  <h1>Fooood</h1>
  <div class="underbar"></div>
  <div class="admin-index-type">
  <%= link_to 'Restaurant', restaurants_path %> | <%= link_to 'News Info', feeds_restaurants_path %>
  </div>
  <div class="row">
    <div class="nav-center">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><%= link_to "全部餐廳", root_path %></li>
        <% @categories.each do |category| %>
          <li role="presentation"><%= link_to category.name, category_path(category) %></li>
        <% end %>
      </ul>
    </div>
    <br>  
    <%= render partial: "shared/restaurant_list" %>
      
  </div>
</div>

